# This is a basic workflow to help you get started with Actions
name: moduleTests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    types: [opened, edited]
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # First workflow job called "VerifyOSProperties"
  VerifyOSProperties:
    name: Verify Ubuntu OS properties
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Tests verify Ubuntu OS version installed
    - name: verify Ubuntu OS version
      run: lsb_release -d
      shell: bash

    # Tests verify the list of gpg keys installed in OS system
    - name: Verify gpg keys
      run: gpg --list-keys
      shell: bash
